{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="StarCraft Strategy Quick Searcher">
    <meta name="author" content="YK-K">


    <!-- Webpage Title -->
    <title>StarCraft Strategy Quick Searcher</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="{% static 'images/sc_logo.jpg' %}">
</head>
<body>
    
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="../../index.html"><img src="{% static 'images/sc_logo_transparent.png' %}" alt="alternative"></a> 

            <!-- Text Logo -->
            <a class="navbar-brand logo-text" href="../../index.html">스타크래프트 전략전술 퀵 서처</a>

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../../search.html">검색 화면으로 돌아가기</a>
                    </li>
                </ul>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->

      
    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>New Strategy</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
    
    
	<!-- Basic -->
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                	    <form method="POST" class="post-form">{% csrf_token %}
    						{{ form.as_ul }} 
    						<button type="submit" class="nav-link">Save</button> 
    					</form>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->



    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6>By</h6>
                        <p class="p-small">경희대학교 컴퓨터공학과 2016104111 김영교</p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h6>Final Project of</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <p class="p-small">2021-1 웹서비스프로그래밍<br>안기옥 교수님</p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        <h6>Used HTML5 Template of</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <p class="p-small">themewagon.com</p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->
    	
    	
    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/purecounter.min.js' %}"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
    
    
</body>
</html>
